<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
       <!-- <script type="text/javascript" src="../../../dist/main.js"></script> webpack will link it for you-->
    </head>

    <body>

        <header>
            <div class="header"></div>
            <div class="">
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                  </ul>
            </div>
        
        </header>

        <main>
            <section>
                <form class="" >
                    <label>Where would you like to go?</label> 
                    <br>
                    <input id="name" type="text" name="input" value="" placeholder="Enter Location">
                    <br>
                    <label>Departure date</label>  
                    <br>
                    <input type="date" id="travel-date" name="trip-start" value="">
                    <br>
                    <label>End date</label>  
                    <button id="generate" class="btn" type = "submit"> Let's go </button> 
                    <br>
                    <input type="date" id="end-date" name="trip-end" value="">
                    
                </form>
            </section>

            <section class="entry" id="result">
             <div>
                <img id="image" alt="this is pixbay img">
             </div>
             <div>
                <p id="city"></p>
                <br>
                <p id="country"></p>
                <p id="region"></p>
                <hr>
                <br>
                <img id="icon" alt="Weather icon">            
                <p id="description" class="weather"></p>           
                <p id="temprature" class="weather"></p>
                <br>
                <p id="currency"></p>
                <br>
                <p id="language"></p>
                <br>
                <p id="trip-len"></p>
                <br>
                <p id="countdown"></p>
                <br>
                <button type="button" class="Pbtn" id="printbtn"></button>
                <br>
                
             </div>

            </section>
        </main>

        <footer>
            <p> Copyright © 2021 </p> 
            
        </footer>

      <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> 
        
    </body>
</html>
