form {
    border-radius: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.925);
    border: none;
    box-shadow: 2px 4px 5px rgb(146, 145, 145);
   
}

main {
    font-size: 18px;
}

input {
    padding: 5px 20px;
    width: 40%;
    line-height: 16px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.596);
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.068);
}

input:hover {
   
   border: 1px solid rgba(81, 203, 238, 1);
   box-shadow:0 0 5px rgba(81, 203, 238, 1);
}

.entry{
    display: none;
    //display: flex;
    flex-direction: row;
    //justify-content: space-evenly;
    flex:2;
    max-width: 750px;
    background: rgba(255, 255, 255, 0.925);
    border: none;
    box-shadow: 2px 4px 5px rgb(146, 145, 145);
    border-radius: 5px;
    p{
        padding:1.5%;
        display: inline-block;     
    }
}

#generate{
    color: #fff;
    background-color: #017a9be0;
    height: 35px;
    font-size: 100%;
    border: none;
    box-shadow: 2px 4px 5px rgb(146, 145, 145);
    border-radius: 4px;
    float: right;
}

#generate:hover,
.Pbtn:hover{    
   box-shadow: 2px 4px 5px rgba(81, 203, 238, 1);
}
 
#image{
    width: 32vw;
    height: 400px;
    padding: 4%;
    display: inline;
} 

#city{
    font-size: 2em;
}

#icon{
    width: 30%;
    height: 20%;
}

.weather{
    float:right;
}

.Pbtn{
    background-image: url("/src/client/media/iconsprint.png");
    background-repeat: no-repeat;
    background-size:cover;
    width: 40px;
    height: 35px;
    border: 2px solid;
    box-shadow: 2px 0 0 rgb(146, 145, 145);
    border-radius: 4px;
    float: right;
    margin:10%;
}

//Large Screen size
@media(min-width:1441px){
    .entry{
        max-width: 1100px;
    }
}

//Small Screen Size
@media (max-width:425px){
    form{
        max-width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    input {
        width: 65%;
    }

    .entry{
        max-width: 92%;
        flex-direction: column;
    }

    #image{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 55%;
    }

    .Pbtn{
        margin:5%;
    }

    .weather{
        float: none;
    }

    #icon{
        display: block;
    }
}

/*TODO: Mediam Screen size*/
@media(min-width:426px) and (max-width:768px){
    form{
        max-width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .entry{
        max-width: 92%;
    }
}
