header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    font-size: 22px;
    background-color:rgba(255, 255, 255, 0.795);
    border: none;
    box-shadow: 1px 2px 3px rgb(146, 145, 145);   
}

.header{
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

li {
  display: inline;
  float: left; 
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(88, 88, 88);
}

a:hover {
 color: rgba(81, 203, 238, 1);
}
.active {
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
}

 
